@model IEnumerable<WMAgility2.Models.GraphPoint>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.x)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.y)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.x)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.y)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="GraphPoints" asp-action="DataFromDatabase">View Graph</a>
</div>