@{
    ViewData["Title"] = "Project Details";
}
<h1>@ViewData["Title"]</h1>

<p>Student: Esther Leonard - X00012206
    <br />
    Final Project
    <br />
    Higher Diploma - Science in Computing, Software Specialisation
    <br />
    Submitted: December 2020
    <br />
    Supervisor: Karen Nolan
    <br />
    Technological University Dublin - Tallaght
    </p>
<img src="~/images/mejoholly.jpg" width="250" height="200" style="border: 5px solid #5f0071" />